.Rproj.user
.Rhistory
.RData
.Ruserdata
libs/anchor-sections-1.0.1/anchor-sections.css
libs/anchor-sections-1.0.1/anchor-sections.js
libs/gitbook-2.6.7/css/fontawesome/fontawesome-webfont.ttf
libs/gitbook-2.6.7/css/plugin-bookdown.css
libs/gitbook-2.6.7/css/plugin-clipboard.css
libs/gitbook-2.6.7/css/plugin-fontsettings.css
libs/gitbook-2.6.7/css/plugin-highlight.css
libs/gitbook-2.6.7/css/plugin-search.css
libs/gitbook-2.6.7/css/plugin-table.css
libs/gitbook-2.6.7/css/style.css
libs/gitbook-2.6.7/js/app.min.js
libs/gitbook-2.6.7/js/clipboard.min.js
libs/gitbook-2.6.7/js/jquery.highlight.js
libs/gitbook-2.6.7/js/lunr.js
libs/gitbook-2.6.7/js/plugin-bookdown.js
libs/gitbook-2.6.7/js/plugin-clipboard.js
libs/gitbook-2.6.7/js/plugin-fontsettings.js
libs/gitbook-2.6.7/js/plugin-search.js
libs/gitbook-2.6.7/js/plugin-sharing.js
libs/header-attrs-2.7/header-attrs.js
libs/jquery-2.2.3/jquery.min.js
index.html
_book/course-syllabus-1.html
_book/course-syllabus.html
_book/libs/anchor-sections-1.0.1/anchor-sections.css
_book/libs/anchor-sections-1.0.1/anchor-sections.js
_book/libs/gitbook-2.6.7/css/fontawesome/fontawesome-webfont.ttf
_book/libs/gitbook-2.6.7/css/plugin-bookdown.css
_book/libs/gitbook-2.6.7/css/plugin-clipboard.css
_book/libs/gitbook-2.6.7/css/plugin-fontsettings.css
_book/libs/gitbook-2.6.7/css/plugin-highlight.css
_book/libs/gitbook-2.6.7/css/plugin-search.css
_book/libs/gitbook-2.6.7/css/plugin-table.css
_book/libs/gitbook-2.6.7/css/style.css
_book/libs/gitbook-2.6.7/js/app.min.js
_book/libs/gitbook-2.6.7/js/clipboard.min.js
_book/libs/gitbook-2.6.7/js/jquery.highlight.js
_book/libs/gitbook-2.6.7/js/lunr.js
_book/libs/gitbook-2.6.7/js/plugin-bookdown.js
_book/libs/gitbook-2.6.7/js/plugin-clipboard.js
_book/libs/gitbook-2.6.7/js/plugin-fontsettings.js
_book/libs/gitbook-2.6.7/js/plugin-search.js
_book/libs/gitbook-2.6.7/js/plugin-sharing.js
_book/libs/header-attrs-2.7/header-attrs.js
_book/libs/jquery-2.2.3/jquery.min.js
_book/reference-keys.txt
_book/search_index.json
_book/_main_files/figure-html/unnamed-chunk-10-1.png
_book/_main_files/figure-html/unnamed-chunk-2-1.png
_book/_main_files/figure-html/unnamed-chunk-9-1.png
_book/what-is-statistics.html
_bookdown_files/_main_files/figure-html/unnamed-chunk-10-1.png
_bookdown_files/_main_files/figure-html/unnamed-chunk-2-1.png
_bookdown_files/_main_files/figure-html/unnamed-chunk-9-1.png
